@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@200&family=Inconsolata:wdth,wght@75,300;100,300&family=Roboto+Mono:wght@300&display=swap");

//document-style-start//
* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
//document-style-end//

//dark-theme//
@import "./dark-theme.scss";

//light-theme//
@import "./light-theme.scss";
