$black-dt: #232931;
$teal-dt: #4ecca3;
$teal-lt: #4ecca3;
$black-lt: #232931;
$cont-shade: #71d6b5;
$white: #eee;
$bezier: cubic-bezier(0.22, 0.65, 0.09, 0.79);
$timing: cubic-bezier(0.39, 0.97, 0, 0.97);
$mc-width: 80vw;
$title-font: "Fira Code", monospace;
$main-height: 100vh;
$rotate-icon: rotate(225deg);
