@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inconsolata:wdth,wght@75,300;100,300&family=Roboto+Mono:wght@300&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #232931 !important;
}

#app {
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 300;
  color: #eee;
}

.hr {
  width: 1px;
  height: 90vh;
  background: #4ecca3;
  position: absolute;
  left: 20vw;
  top: 50%;
  z-index: 100;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#nav a {
  font-size: 36px;
  line-height: 36px;
  color: #4ecca3;
  width: 100%;
  text-decoration: none !important;
  position: relative;
  z-index: 2;
}

#nav a:hover.link {
  color: #232931;
  background: #4ecca3;
}

#nav a.router-link-exact-active {
  color: #eee;
}

#nav a.router-link-exact-active span {
  border-right: 2px solid transparent;
  -webkit-animation: blink-caret 0.75s step-end infinite;
          animation: blink-caret 0.75s step-end infinite;
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: #eee;
  }
}

@keyframes blink-caret {
  50% {
    border-color: #eee;
  }
}

.side-nav {
  width: 18vw;
  height: 100vh;
  background: #232931;
  color: #4ecca3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 20;
}

.nav-title {
  font-size: 75px;
  font-family: "Anonymous Pro", monospace;
  font-weight: 300;
  letter-spacing: 3px;
  word-wrap: break-word;
  line-height: 65px;
  opacity: 0;
  -webkit-animation: fade-in 0.5s 1s ease-in forwards;
          animation: fade-in 0.5s 1s ease-in forwards;
}

.home-title {
  font-size: 86px;
  font-family: "Anonymous Pro", monospace;
  font-weight: 300;
  letter-spacing: 3px;
}

.caret {
  border-right: 0.15rem solid #4ecca3;
  -webkit-animation: blink 0.75s step-end infinite;
          animation: blink 0.75s step-end infinite;
}

.sub-text {
  font-family: "Anonymous Pro", monospace;
  font-size: 1.2rem;
  word-wrap: break-word;
  opacity: 0;
  -webkit-animation: fade-in 0.5s 1s ease-in forwards;
          animation: fade-in 0.5s 1s ease-in forwards;
}

.nav {
  opacity: 0;
  -webkit-animation: fade-in 0.5s 1.5s ease-in forwards;
          animation: fade-in 0.5s 1.5s ease-in forwards;
}

.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 0.5s 0.7s ease-in forwards;
          animation: fade-in 0.5s 0.7s ease-in forwards;
}

@-webkit-keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #4ecca3;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #4ecca3;
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 7px 5px #393e46;
            box-shadow: 7px 5px #393e46;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  50% {
    -webkit-box-shadow: 7px 0px #393e46;
            box-shadow: 7px 0px #393e46;
    -webkit-transform: translate(0, -49%);
            transform: translate(0, -49%);
  }
  100% {
    -webkit-box-shadow: 7px 5px #393e46;
            box-shadow: 7px 5px #393e46;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 7px 5px #393e46;
            box-shadow: 7px 5px #393e46;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  50% {
    -webkit-box-shadow: 7px 0px #393e46;
            box-shadow: 7px 0px #393e46;
    -webkit-transform: translate(0, -49%);
            transform: translate(0, -49%);
  }
  100% {
    -webkit-box-shadow: 7px 5px #393e46;
            box-shadow: 7px 5px #393e46;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@-webkit-keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-left {
  from {
    width: 0;
  }
  to {
    width: 80vw;
  }
}

@keyframes slide-left {
  from {
    width: 0;
  }
  to {
    width: 80vw;
  }
}

.text-teal {
  color: #4ecca3;
}

.bg-teal {
  border: 1px solid #4ecca3 !important;
  background: none !important;
}

.btn-teal {
  background: transparent !important;
  border: 1px solid #4ecca3 !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
}

.btn-teal.active {
  background: #4ecca3 !important;
}

.btn-outline-teal {
  border-color: #4ecca3 !important;
  color: #eee !important;
}

.btn-outline-teal:hover {
  background: #4ecca3 !important;
  color: #232931 !important;
}

.badge-white {
  border: 1px solid #eee !important;
  color: #eee !important;
  border-radius: 100px !important;
}

.email {
  color: #eee !important;
  text-decoration: none !important;
  cursor: pointer;
}

.email:hover {
  color: #4ecca3 !important;
}

.scroll-up {
  border: 1px solid #4ecca3;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  color: #4ecca3;
  position: fixed;
  bottom: 70px;
  right: 15px;
  cursor: pointer;
}

.scroll-up:hover {
  background: #4ecca3;
  color: #232931;
}
/*# sourceMappingURL=styles.css.map */