@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inconsolata:wdth,wght@75,300;100,300&family=Roboto+Mono:wght@300&display=swap");

$black: #232931;
$teal: #4ecca3;
$white: #eee;
$bezier: cubic-bezier(0.22, 0.65, 0.09, 0.79);
//

* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: $black !important;
}

#app {
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 300;
  color: $white;
}

.hr {
  width: 1px;
  height: 90vh;
  background: $teal;
  position: absolute;
  left: 20vw;
  top: 50%;
  z-index: 100;
  transform: translate(0, -50%);
}

//Navigation
#nav {
  display: flex;
  flex-direction: column;
  width: 250px;
}

#nav a {
  font-size: 36px;
  line-height: 36px;
  color: $teal;
  font-family: "Anonymous Pro", monospace;
  margin-bottom: 36px;
  width: max-content;
  text-decoration: none !important;
  position: relative;
  z-index: 2;
  &:hover {
    color: $black;
  }
  &:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $teal;
    animation: dash 0.5s $bezier forwards;
    z-index: -1;
  }
  &:not(:hover):after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: $teal;
    width: 100%;
    animation: dash-off 0.5s $bezier forwards;
    z-index: -1;
  }
}

#nav a.router-link-exact-active {
  color: $white;
  & span {
    border-right: 2px solid transparent;
    animation: blink-white 0.75s step-end infinite;
  }
}

//Navigation animations
@keyframes dash {
  to {
    width: 100%;
  }
}

@keyframes dash-off {
  to {
    width: 0%;
  }
}

@keyframes blink-white {
  50% {
    border-color: $white;
  }
}

//Home
.side-nav {
  width: auto;
  height: 100vh;
  background: #232931;
  color: #4ecca3;
  box-sizing: border-box;
}

.nav-title {
  font-size: 75px;
  font-family: "Anonymous Pro", monospace;
  font-weight: 300;
  overflow: hidden;
  letter-spacing: 3px;
  line-height: 60px;
}

.caret {
  border-right: 0.15rem solid $teal;
  animation: blink 0.75s step-end infinite;
}

.sub-text {
  font-family: "Anonymous Pro", monospace;
  font-size: 1.2rem;
  opacity: 0;
  animation: fade-in 0.5s 2.2s ease-in forwards;
}

.nav {
  opacity: 0;
  animation: fade-in 0.5s 2.5s ease-in forwards;
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.5s 0.7s ease-in forwards;
}

//Home animations
@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: $teal;
  }
}

@keyframes float {
  0% {
    box-shadow: 7px 5px #393e46;
    transform: translate(0, -50%);
  }
  50% {
    box-shadow: 7px 0px #393e46;
    transform: translate(0, -49%);
  }
  100% {
    box-shadow: 7px 5px #393e46;
    transform: translate(0, -50%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    width: 0;
  }
  to {
    width: 80vw;
  }
}

//Projects
.text-teal {
  color: $teal;
}

.bg-teal {
  border: 1px solid $teal !important;
  background: none !important;
}

.btn-teal {
  background: transparent !important;
  border: 1px solid $teal !important;
  box-sizing: border-box !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
}

.btn-teal.active {
  background: $teal !important;
}

.btn-outline-teal {
  border-color: $teal !important;
  color: $white !important;
  &:hover {
    background: $teal !important;
    color: $black !important;
  }
}
