@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inconsolata:wdth,wght@75,300;100,300&family=Roboto+Mono:wght@300&display=swap");

$black: #232931;
$teal: #4ecca3;
$white: #eee;
$bezier: cubic-bezier(0.22, 0.65, 0.09, 0.79);
//

* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: $black !important;
}

#app {
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 300;
  color: $white;
}

.hr {
  width: 1px;
  height: 90vh;
  background: $teal;
  position: absolute;
  left: 20vw;
  top: 50%;
  z-index: 100;
  transform: translate(0, -50%);
}

//Navigation
#nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#nav a {
  font-size: 36px;
  line-height: 36px;
  color: $teal;
  width: 100%;
  text-decoration: none !important;
  position: relative;
  z-index: 2;
  &:hover.link {
    color: $black;
    background: $teal;
  }
}

#nav a.router-link-exact-active {
  color: $white;
  & span {
    border-right: 2px solid transparent;
    animation: blink-caret 0.75s step-end infinite;
  }
}

//Navigation animations

@keyframes blink-caret {
  50% {
    border-color: $white;
  }
}

//Home
.side-nav {
  width: 18vw;
  height: 100vh;
  background: #232931;
  color: #4ecca3;
  box-sizing: border-box;
  position: relative;
  z-index: 20;
}

.nav-title {
  font-size: 75px;
  font-family: "Anonymous Pro", monospace;
  font-weight: 300;
  letter-spacing: 3px;
  word-wrap: break-word;
  line-height: 65px;
  opacity: 0;
  animation: fade-in 0.5s 1s ease-in forwards;
}

.home-title {
  font-size: 86px;
  font-family: "Anonymous Pro", monospace;
  font-weight: 300;
  letter-spacing: 3px;
}

.caret {
  border-right: 0.15rem solid $teal;
  animation: blink 0.75s step-end infinite;
}

.sub-text {
  font-family: "Anonymous Pro", monospace;
  font-size: 1.2rem;
  word-wrap: break-word;
  opacity: 0;
  animation: fade-in 0.5s 1s ease-in forwards;
}

.nav {
  opacity: 0;
  animation: fade-in 0.5s 1.5s ease-in forwards;
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.5s 0.7s ease-in forwards;
}

//Home animations
@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: $teal;
  }
}

@keyframes float {
  0% {
    box-shadow: 7px 5px #393e46;
    transform: translate(0, -50%);
  }
  50% {
    box-shadow: 7px 0px #393e46;
    transform: translate(0, -49%);
  }
  100% {
    box-shadow: 7px 5px #393e46;
    transform: translate(0, -50%);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    width: 0;
  }
  to {
    width: 80vw;
  }
}

//Projects
.text-teal {
  color: $teal;
}

.bg-teal {
  border: 1px solid $teal !important;
  background: none !important;
}

.btn-teal {
  background: transparent !important;
  border: 1px solid $teal !important;
  box-sizing: border-box !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
}

.btn-teal.active {
  background: $teal !important;
}

.btn-outline-teal {
  border-color: $teal !important;
  color: $white !important;
  &:hover {
    background: $teal !important;
    color: $black !important;
  }
}

.badge-white {
  border: 1px solid $white !important;
  color: $white !important;
  border-radius: 100px !important;
}

.email {
  color: $white !important;
  text-decoration: none !important;
  cursor: pointer;
  &:hover {
    color: $teal !important;
  }
}

//Main content
.scroll-up {
  border: 1px solid $teal;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  color: $teal;
  position: fixed;
  bottom: 70px;
  right: 15px;
  cursor: pointer;
  &:hover {
    background: $teal;
    color: $black;
  }
}
